/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: #e53e3e;
}

/* Global Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Flexbox Layouts */
.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.project-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0)
}

.fade-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
  position: relative;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0)
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0)
}

/* Responsive Design with Media Queries */
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .hero-content {
    padding: 1rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .project-cards {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  /* For smaller screens like tablets */
  .hero h2 {
    font-size: 2rem;
  }

  .about-content {
    text-align: center;
  }

  .card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
  }

  .header nav a {
    font-size: 1.1rem;
  }

  .footer ul {
    flex-direction: column;
  }
}

@media (max-width: 480px) {

  /* For mobile screens */
  .hero h2 {
    font-size: 1.5rem;
  }

  .card {
    width: 100%;
    padding: 1rem;
  }

  .contact form {
    width: 100%;
  }

  button {
    padding: 1rem;
    font-size: 1.2rem;
  }
}